[General]
test_directory = directory_with_test_repo_cloned
plans_directory = plans
inventory = /path/to/ansible/inventory,/path/to/another/inventory
report    = ./report.csv
extra_vars = /path/to/local/ansible/extra_vars
iterations = 20
max_failures = 3
output_directory = /path/to/directory/to/store/output
fact_caching = jsonfile

[Ansible Runner Settings]
suppress_ansible_output = False

[Enabled Functional Tests]
01_test_neutron

[Enabled HA Tests]
01_test_neutron

